:root {
    --color-foreground: #94a3b8;
    --color-background: #334155;
    --color-highlight: #0f172a;
    --color-text: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text);
}

.container {
    flex: 1; /* So that it spans whole page */

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: var(--color-background);

    display: flex;
    flex-direction: column;

    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2), inset 0 -5px 5px rgba(0, 0, 0, 0.2);
    padding-top: 12px;
}

.new-book-container {
    flex: 96px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-book-container button,
input[type="submit"] {
    width: 10%;
    height: 80%;

    font-size: 1.75vw;

    border: 0;
    border-radius: 24px;

    background-color: var(--color-highlight);
    color: var(--color-text);
    font-weight: bold;

    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.new-book-container button:focus,
input[type="submit"]:focus {
    outline: none;
    border: 1px solid var(--color-text);
}

.new-book-container button:hover,
input[type="submit"]:hover {
    border: 4px solid var(--color-text);
}

.new-book-container button:active,
input[type="submit"]:active {
    background-color: var(--color-text);
}

.book-display-container {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 36px;

    padding: 0 48px;
}

.book-card {
    width: 100%;
    height: 256px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-foreground);
    border: 0;
    border-radius: 12px 12px 3px 3px;

    position: relative;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.book-card > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.book-card > div:nth-child(odd):not(:first-child)
{
    background-color: #1e293b;
}

.book-card > div:nth-child(even)
{
    background-color: var(--color-foreground);
    color: var(--color-highlight);
}

.book-card > .card-delete,
.new-book-form > .card-delete {
    position: absolute;
    top: 0;
    right: 0;

    width: 10%;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--color-highlight);
    border-radius: 0 12px 0 6px;

    /* Prevent selecting text */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.card-delete:hover {
    border: 4px solid var(--color-text);
}

.card-delete:active {
    background-color: var(--color-text);
}

.card-title {
    flex: 2;

    border-radius: 12px;
}

.card-author {
    flex: 2;
}

.card-pages {
    flex: 1;
}

.card-read {
    flex: 1;

    gap: 4px;
}

.header {
    flex: 96px 0 0;

    font-size: 64px;
    line-height: 64px;
    font-weight: bold;

    color: var(--color-highlight);
}

.footer {
    flex: 48px 0 0;

    font-size: 24px;
    line-height: 24px;
    font-weight: lighter;
}

.header, 
.footer {
    background-color: var(--color-foreground);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.new-book-form-container {
    position: fixed;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 99999;
    transition: 5s linear;
}

.new-book-form {
    position: relative;
    
    padding: 12px;

    width: 30%;
    aspect-ratio: 1 / 1;

    max-height: 100vh;

    background-color: var(--color-foreground);

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-book-form p {
    height: 36px;

    font-size: 36px;
    font-weight: bold;
}

.form-item {
    flex: 1;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-size: 28px;
}

.form-item label {
    min-width: fit-content;
}

.form-item input[type="text"],
.form-item input[type="number"] {
    box-sizing: border-box;
    flex: 1;
    height: 36px;

    background-color: var(--color-background);
    border: 2px solid transparent;
    border-radius: 12px;

    color: var(--color-text);
    font-size: 18px;
    font-weight: lighter;
    padding: 12px;
}

.form-item input[type="checkbox"] {
    height: 36px;
    padding: 12px;
    width: 36px;
}

.form-item input:focus {
    outline: none;
    border: 2px solid var(--color-text);
}

.form-submit-container {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.form-submit-container input {
    width: 30%;
    height: 48px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}